node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.env
.env.*
.cache/
coverage/
*.tsbuildinfo
.DS_Store
*.local
*.log
*.pid
*.seed
*.tgz
.idea/
.vscode/
*.swp
*.swo
*.orig
*.bak
*.tmp
*.temp
*.out
*.log
api/
public/
Dockerfile
.dockerignore
